html
    head
        style.
            @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
    body(style="font-family: 'Kanit', sans-serif;")
        div(style="padding: 3% 10%;border: 3px solid #f15b25;border-bottom:0px")
            div(style="display:flex;margin: 40px auto;width:fit-content")
                div(style="margin-right:10px")
                    img(src= "https://sv1.img.in.th/naIfP.png" width="90px")
                div(style="font-weight:bold;font-size:30px")
                    span(style="color:#f15b25") CHOWJUNG
                    br
                    | LOOKMARK COMPANY
            h3(style="color:#f15b25") บัญชีผู้ใช้งานของท่านได้รับการอนุมัติแล้ว!

            p
                | ผู้ดูแลระบบได้รับข้อมูลบัญชีผู้ใช้ของท่าน และได้ดำเนินการตรวจสอบข้อมูลเรียบร้อยแล้ว
                br
                | ทางโชว์จุ่งขอแสดงความยินดีกับบัญชี 
                span(style="font-weight:bold") #{username}aomKorawit
                |  ของท่าน ที่ได้
                span(style="font-weight:bold;color:#7ec144") ผ่านการอนุมัติบัญชีแล้ว
            
            p โชว์จุ่งขอขอบคุณที่ท่านได้ไว้วางใจเลือกใช้อะไหล่จากเรา
            br
            p 
                span(style="font-weight:bold") หมายเหตุ: 
                | ข้อมูลวงเงินเครดิตของท่านจะได้รับการอัพเดตยอดเงิน และแสดงผลในระบบของท่านในวันถัดไป จากวันที่ได้รับการอนุมัติบัญชีผู้ใช้งาน

        div(style="color:white;background: #f15b25;padding:7px;text-align:center") CHOWJUNG CO., LTD.