html
    head
    body(style="font-family: 'Kanit', sans-serif;")
        div(style="padding: 3% 10%;border: 3px solid #00C3B3;border-bottom:0px")
            div(style="display:flex;margin: 40px auto;width:fit-content")
                div(style="font-weight:bold;font-size:30px")
                    span(style="color:#00C3B3") TOYSMART
            h3(style="color:#00C3B3") ลืมรหัสผ่านของคุณใช่หรือไม่ #{firstName}

            p 
                | ToySmart ได้รับคำขอรีเซ็ตรหัสผ่านของคุณ 
                br
                | กรุณาคลิ๊กที่ลิงก์ด้านล่างนี้ (หรือคัดลอกและวาง URL บนบราว์เซอร์ของคุณ)
            a(href=url) #{url}
            p 
                span(style="font-weight:bold") หมายเหตุ: 
                | คำขอรีเซ็ตรหัสผ่านของคุณจะมีอายุ 10 นาที        

        div(style="color:white;background: #00C3B3;padding:7px;text-align:center") TOYSMART CO., LTD.